altair
attrs
bidict
blinker
branca
build
CacheControl
cachetools
capstone
certifi
charset-normalizer
cleo
click
colorama
comtypes
contourpy
crashtest
cycler
DateTime
distlib
dulwich
et-xmlfile
fastjsonschema
filelock
Flask
Flask-SocketIO
folium
fonttools
future
gitdb
GitPython
greenlet
h
idna
importlib-metadata
installer
jsonschema
jsonschema-specifications
keyring
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
more-itertools
msgpack
mysql
mysql-connector-python
mysqlclient
numpy
openpyxl
packaging
pandas
pexpect
pillow
pkginfo
platformdirs
plotly
pygbag
Pygments
pyparsing
pyproject_hooks
pyserial
python-dateutil
python-docx
python-engineio
python-socketio
pytz
referencing
requests
requests-toolbelt
rich
rpds-py
scipy
serial
setuptools
shellingham
simple-websocket
six
smmap
SQLAlchemy
streamlit
streamlit-folium
Werkzeug
wsproto
XlsxWriter
xyzservices
zipp
zopeinterface
